* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/background/background-gelo.jpg");
    background-size: auto 700px;
    background-attachment: fixed;

}

h1 {
    margin-top: 10px;
    color: #0F2A44;
}

.main-fotos {
    margin-top: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 50px;
}

.img {
    border: 1px solid black;
    border-radius: 8px;
}

figure {
    background-color: #b3d9e7;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 50px;
}

.info {
    margin-top: 50px;
    text-align: left;
    list-style: none;
}

.info li {
    list-style: none;
}

figcaption,
p {
    color: #5b7185;
}

.active {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #2B7A9E;
    transition: 0.5s;
}

a:hover {
    color: #1F9ED6;
}

.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #1E3A5F;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

p {
    margin-top: 30px;
    font-size: 25px;
}

p:first-of-type {
    margin-top: 50px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #2B7A9E;
    border-radius: 4px;
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1F9ED6;
}

::-webkit-scrollbar-track {
    background: #82d9ff;
}

.conteudo {
    max-width: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

@media (min-width: 768px) {
    .main-fotos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1024px) {
    .main-fotos {
        grid-template-columns: repeat(3, 1fr);
    }

    .img {
        width: 350px;
        height: 350px;
    }
}

.img-animal-real {
    width: 500px;
}

.main-fotos-real {
    margin-left: 50px;
    margin-right: 50px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10000;
}

.img-lightbox {
    max-width: 90%;
    max-height: 90%;
}

.img {
    cursor: pointer;
}
.creditos a{
    text-decoration: none;
}
.creditos a:hover{
    text-decoration: underline;
}
body::selection{
    background-color: #0F2A44;
    color: #2B7A9E;
}